
/* .div{
	border: 2px solid #373737
} */
.view {
    margin: 0;
    height: 100vh;
	cursor: url('../images/Cursor.svg'), auto;
	color: rgb(27,27,27);
}
.cursor{
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;

}
/* Font, Text, and rules regarding each  
--------------------------------------------------------------------------*/
/* For section and view headers */
.headerText{
    color: '#343434';
    text-shadow: -1px 0 '#707070', 0 1px '#707070', 1px 0 '#707070', 0 -1px '#707070';
    font-family: 'Courier New';
    font-style: bold;
    font-size: 32px;
}
/* For section descriptive text and other important instances */
.importantText {
    color: '#343434';
    text-shadow: -1px 0 '#707070', 0 1px '#707070', 1px 0 '#707070', 0 -1px '#707070';
    font-family: montserrat;
    font-size: 20px;
}
.inlineWrapper{
	display: inline-flexbox;
}
.inlineItem{
	float: left;
}
.social{
	width: 30%;
	height: 100%;
}
.instagram{
	background-image: url('../images/facebook.svg');
}
.facebook{
	background-image: url('../images/facebook.svg');
}
.linkedin{

}




/* Images, Videos and all global stylizations of each
-------------------------------------------------------------*/
/* For emphasis images */








/* Montserrat Font Family */
/* @group Montserrat
-------------------------------------------------------------- */

/* = Weights Montserrat  
-------------------------------------------------------------- */

.thin {
	/* Montserrat Thin = 100 */
	font-weight: 100;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.extralight {
	/* Montserrat Extra Light = 200 */
	font-weight: 200;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.light {
	/* Montserrat Light = 300 */
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.regular {
	/* Montserrat Regular = 400 */
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.medium {
	/* Montserrat Medium = 500 */
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.semibold {
	/* Montserrat Semi-bold = 600 */
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.bold {
	/* Montserrat Bold = 700 */
	font-weight: 700;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.extrabold {
	/* Montserrat Extra Bold = 800 */
	font-weight: 800;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.black {
	/* Montserrat Black = 900 */
	font-weight: 900;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}
